<html>
  <body>
    <% messages.map((message) => { %>
    <ul>
      <li>id: <%= message.id %></li>
      <li>Message: <%= message.text %></li>
      <li>Name: <%= message.user %></li>
      <li>Date: <%= message.added %></li>
      <a href="/ <%= message.id %>">
        <button>Open</button>
      </a>
    </ul>
    <% }) %>
  </body>
  <br />
  <a href="/new">
    <button>New message</button>
  </a>
</html>
